### IDE specific files ###
.idea/
*.iml
modules.xml
*.ipr

.vscode/
*.code-workspace

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Project ###
build/
logs/
config.json
